<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="container">
                    <h1>Contact Us</h1>
                    <div class="content">
        <div class="intro">
            <p class="get">Do you have a technical or functional issues to report? Payment hassile? Do not hesitate to contact us, our team will get back to you right away </p>
            <div class="gone">
            <p class="contact">Telephone No:<br>
            +234900000000<br>
            +234810000300<br>
            +01 49811000<br>
            </p>
            <p class="push">Email Address:<br>
            zurigroup66projectfavicon@gmail.com<br>
        projfavicongroup66@gmail.com</p>
        <p class="last">Take a look at our FAQs your anser may be right there!</p> 
        <p class="faqs"><a href="#">Access the FAQs</a></p>
        </div>
        </div>
        <div class="details">
         <h2>We will respond as quickly as possible</h2>
         <form action="">
             <div class="formgroup">
                 <label for="email" >Email Address:</label><br>
                 <input type="text" class="box"/>
             </div>
             <div class="formgroup">
                <label for="subject">Subject:</label><br>
                <input type="text" class="box" />
            </div>
            <div class="formgroup">
                <label for="message">Why are you contacting us</label><br>
                <textarea></textarea>
            </div>
            <div class="formgroup checker" >
                <input type="checkbox" class="checkbox"/>
                <label>By submiting this form, i agree that the information entered will be used for commercial pruposes resulting therefore</label>
            </div>
            <button type="submit">Send Message</button>
                    <div class="gonedown">
            <p class="contact">Telephone No:<br>
            +234900000000<br>
            +234810000300<br>
            +01 49811000<br>
            </p>
            <p class="push">Email Address:<br>
            zurigroup66projectfavicon@gmail.com<br>
        projfavicongroup66@gmail.com</p>
        </div>
         </form>
        </div>
    </div>
    </div>
</body>
</html>