<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="documentation.css" />

      <title>Documentation</title>
    </head>
    <body>
    
      <div>
        <div class="documentation-container">
          <div class="documentation-documentationpage">
            <div class="documentation-group192">
              <span class="documentation-text">
                <span>
                  <span>
                    Favicons are the small square images that are usually
                    displayed before the URL in the address bar of a browser, in
                    the browsing tabs, and next
                  </span>
                  <br />
                  <span>to the site name in a users list of bookmarks.</span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                </span>
              </span>
              <span class="documentation-text015">
                <span>
                  <span>What is a Favicon?</span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                </span>
              </span>
            </div>
            <div class="documentation-group196">
              <span class="documentation-text022"
                ><span>Get Started</span></span
              >
              <div class="documentation-group195">
                <span class="documentation-text024 bodyRegular6">
                  <span>
                    The main purpose of favicons is to help visitors locate your
                    page easier when they have multiple tabs open. Due to their
                    tiny size, favicons work best as simple images or
                    one-to-three characters of text. Favicons are not to be
                    confused with logos but are sometimes the same. Due to its
                    small size and resolution, the favicon may need to be an
                    even smaller size or part of a company’s original logo.
                  </span>
                </span>
              </div>
            </div>
            <div class="documentation-group197">
              <span class="documentation-text026">
                <span>
                  <span>Favicon</span>
                  <br />
                  <span>Importance</span>
                </span>
              </span>
              <div class="documentation-group194">
                <span class="documentation-text031 bodyRegular6">
                  <span>
                    <span>Favicons does the following for you.</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Add legitimacy to your site.</span>
                    <br />
                    <span>
                      Help boost your online branding as well as trust from
                      potential consumers.
                    </span>
                    <br />
                    <span>
                      They are an immediate visual marker for the website which
                      enables easy and quick identification for web users as
                      well as unifies all of the various browser components into
                      a well branded browsing experience.
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <span class="documentation-text042">
              <span>
                <div class="documentation-group197"></div>
                <span>How to</span>
                <br />
                <span>Use Genzicons</span>
              </span>
            </span>
            <div class="documentation-group193">
              <img
                class="documentation-rectangle931"
              />
              
                <span class="documentation-text047 bodyRegular6">
                  <span class="documentation-text048"
                    >Register as a user using</span
                  >
                  
                  <span class="documentation-text050"></span>
                  <span class="documentation-text051"><a href="# " > the sign up button</a></span>
                  <span class="documentation-text050"
                    >(unregistered user) or</span
                  >
                  <span class="documentation-text051"><a href="# " >the sign in button</a></span>
                  <span class="documentation-text050">
                    <span>(registered user).</span>
                   
                    <span></span>
                    
                    <span>After sign up or sign in, user can click</span>
                  </span>
                  <span class="documentation-text060">
                    <a href="# " >the generate favicon button</a>
                  </span>
                  <span class="documentation-text050">
                    <span>to generate favicon.</span>
                   
                    <span></span>
                   
                    <span>
                      On the favicon button, registered user can generate
                      favicon through
                    </span>
                  </span>
                  <span class="documentation-text051">
                    <span><a href="# " >text, images and icons.</a></span>
                    
                    <span></span>
                  </span>
                  <span class="documentation-text071">
                    <span></span>
                    
                    <span
                      >After favicon has been generated, registered user
                      can</span
                    >
                  </span>
                  <span class="documentation-text051"><a href="# " >preview</a></span>
                  <span class="documentation-text050">favicon,</span>
                  <span class="documentation-text051"><a href="# " >save</a></span>
                  <span class="documentation-text050">
                    favicon to view later in the user’s profile,
                  </span>
                  <span class="documentation-text051"><a href="# " >download zip file</a></span>
                  <span class="documentation-text050">
                    of the favicon and its html code or use the
                  </span>
                  <span class="documentation-text051"
                    ><a href="# " >click here for html code</a></span
                  >
                  <span class="documentation-text050">
                    <span>to navigate to the html download page.</span>
                 
                    <span></span>
                   
                    <span>
                      On the html download page, registered users can copy html
                      code through
                    </span>
                  </span>
                  <span class="documentation-text051"
                    ><a href="# " >the copy link button</a></span
                  >
                  <span>or through the generator box and embed.</span>
                </span>
            
              <span class="documentation-text090 bodyRegular6"></span>
            </div>
            <div class="documentation-group200">
              <span class="documentation-text091">
                <span>
                  <span>Favicons</span>
                 
                  <span>generator</span>
                </span>
              </span>
              <div class="documentation-group1931">
                <span class="documentation-text096 bodyRegular6">
                  <span>
                    <span></span>
                    <br />
                    <span>
                      Both GIMP and Photoshop offer similar functionality to the
                      GenZicon Favicon Generator in that you have the option to
                      open and
                    </span>
                    <br />
                    <span>
                      edit an existing logo and can design your favicon from
                      scratch. However, you must familiarize yourself with the
                      complex user
                    </span>
                    <br />
                    <span>
                      interfaces in both programs. The Genzicon Favicon
                      Generator on the other hand is incredibly quick and easy
                      to learn thanks to
                    </span>
                    <br />
                    <span>
                      its user-friendly interface. Furthermore, it automatically
                      provides you with all conceivable file formats that you
                      may require for
                    </span>
                    <br />
                    <span>
                      a professional favicon such as app icons for Android, iOS
                      and various versions of Windows
                    </span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
            </div>
            <div class="documentation-footer">
              <div class="documentation-group190">
                <span class="documentation-text111 bodyRegular5">
                  <span>What we do</span>
                </span>
                <span class="documentation-text113 bodyRegular5">
                  <span>How we roll</span>
                </span>
                <span class="documentation-text115 bodyRegular5">
                  <span>Where we are</span>
                </span>
                <span class="documentation-text117 bodyBold8">
                  <span>About us</span>
                </span>
              </div>
              <div class="documentation-group187">
                <span class="documentation-text119 bodyRegular5">
                  <span>Twitter</span>
                </span>
                <span class="documentation-text121 bodyRegular5">
                  <span>Facebook</span>
                </span>
                <span class="documentation-text123 bodyRegular5">
                  <span>Github</span>
                </span>
                <span class="documentation-text125 bodyRegular5">
                  <span>Slack</span>
                </span>
                <span class="documentation-text127 bodyBold8">
                  <span>Contact us</span>
                </span>
                <img
                  src="/playground_assets/bxlfacebook4%3A46-tpi.svg"
                  alt="facebook"
                  class="documentation-bxlfacebook"
                />
                <img
                  src="/playground_assets/akariconstwitterfill4%3A48-jwx.svg"
                  alt="Twitter"
                  class="documentation-akariconstwitterfill"
                />
                <div class="documentation-akariconsgithubfill"></div>
                <img
                  src="/playground_assets/akariconsgithubfill4%3A51-qbf79.svg"
                  alt="github"
                  class="documentation-akariconsgithubfill"
                />
              </div>
              
              
              <div class="documentation-group188">
                <span class="documentation-text129 bodyRegular5">
                  <span>What are favicons</span>
                </span>
                <span class="documentation-text131 bodyRegular5">
                  <span>How to generate favicons</span>
                </span>
                <span class="documentation-text133 bodyRegular5">
                  <span>Icons gallery</span>
                </span>
                <span class="documentation-text135 bodyRegular5">
                  <span>Favicons formats</span>
                </span>
                <span class="documentation-text137 bodyBold8">
                  <span>Resources</span>
                </span>
              </div>
              <div class="documentation-group189">
                <span class="documentation-text139 bodyRegular5">
                  <span>Documentation</span>
                </span>
                <span class="documentation-text141 bodyRegular5">
                  <span>Features</span>
                </span>
                <span class="documentation-text143 bodyRegular5">
                  <span>Feedback</span>
                </span>
                <span class="documentation-text145 bodyBold8">
                  <span>Support</span>
                </span>
              </div>
            </div>
            
            
    </body>
  </html>
</html>
