<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favicon Modal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fontawesome.com/v5/icons/save?s=regular.css">
    <link rel="stylesheet" href="favicon(modal).css">
</head>

<body>
    <header id="headerdiv">
        <div id="headerdiv1">
          <div id="genzimg"><img src="Genzwhite.jpg" /></div>
          <div class="navlink"><a href="" class="atag">Favicons</a></div>
          <div class="navlink">
            <a href="contact.html" class="atag">Contact Us</a>
          </div>
          <div id="navlink">
            <a href="documentation.html" class="atag">Tutorial</a>
          </div>
          <div class="toggle">
            <label class="switch">
              <input type="checkbox" id="toggle" />
              <span class="slider round"></span>
            </label>
          </div>
          <div id="headbtndiv">
            <button href="SignIn.html" id="headbtn">Log out</button>
          </div>
        </div>
      </header>
    <!-- Drop down at mobile size screen -->
    <div class="mobileView">
        <img class="mobileLogo" src="Genzwhite.jpg" />
        <div class="mobileIcons" onclick="show()">
            <span id="menus">
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
            </span>
        </div>
    </div>

    <!-- Side bar at mobile screen size -->
    <div id="sidebar" class="sidebar">
        <div onclick="vanish()" class="cancel">
            <i class="fa-regular fa-xmark">cancel</i>
        </div>
        <img src="Genzwhite.jpg" alt="" class="sideLogo" />
        <div class="sideNavigator">
            <div class="sideNav">Home</div>
            <div class="sideNav">About</div>
            <div class="sideNav">Services</div>
        </div>
    </div>
    <div>
        <p id="para4a1">Your uniquely generated favicon is right here.</p>
        <div>
            <div id="previmage1a"><img src="quest.jpg" alt=""></div>
            <div id="range3"><input type="range"></div>
            <div id="sliderlabel1">
                <div id="slider3"><label for="slider">square</label></div>
                <div id="slide42"><label for="slider">circle</label></div>
            </div><br><br>
            <div id="btns1">
                <button href="" id="savebtn">Save<i class="fa fa-save"></i></button>
                <button href="" id="downbtn">Download<i class="fa fa-download"></i></button>
            </div>
        </div>
        <br>
    </div>
    <p id="para4b">Include the following code at the head of your HTML document:</p>
    <div id="htmlDiv">
        <div id="htmlDiv1">
            <textarea name="" readonly id="htmlCode">html code...</textarea>
        </div>
        <button href="" id="copybtn" onclick="copyToClipboard()">Copy link</button>
    </div>
    <footer>
        <div id="footer">
          <div id="footer1">
            <h5 href="" class="foothead">About Us</h5>
            <p href="" class="footpara">What we do</p>
            <p href="" class="footpara">How we roll</p>
            <p href="" class="footpara">What we are</p>
          </div>
          <div id="footer2">
            <h5 href="" class="foothead">Support</h5>
            <p href="" class="footpara">Documentation</p>
            <p href="" class="footpara">Features</p>
            <p href="" class="footpara">Feedback</p>
          </div>
          <div id="footer3">
            <h5 href="" class="foothead">Resources</h5>
            <p href="" class="footpara">What are favicons</p>
            <p href="" class="footpara">How to generate favicons</p>
            <p href="" class="footpara">Icons gallery</p>
            <p href="" class="footpara">Favicons format</p>
          </div>
          <div id="footer4">
            <h5 href="" class="foothead">Contact Us</h5>
            <a href="" class="footpara"><i class="fa fa-twitter"></i>twitter</a><br /><br />
            <a href="" class="footpara"><i class="fa fa-facebook"></i>facebook</a><br /><br />
            <a href="" class="footpara"><i class="fa fa-github"></i>github</a><br /><br />
            <a href="" class="footpara"><i class="fa fa-slack"></i>slack</a><br /><br />
          </div>
        </div>
      </footer>
    <script src="./favicon.js"></script>
</body>

</html>
