<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favicon Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fontawesome.com/v5/icons/save?s=regular.css">
    <link rel="stylesheet" href="favicon.css">
</head>
<body>
    <header class="mainDivs">
        <nav>Favicons</nav>
        <nav>Contact Us</nav>
        <nav>Tutorial</nav>
        <button>Sign Up</button>
        <button>Sign In</button>
    </header>
    <div class="mainDivs">
        <h1 class="headings">Generate Favicons From IMAGES.</h1>
        <div class="secondDivs">
            <div id="thirdDiv">
                <p id="para1">Already have an image for your Favicon?</p>
                <div id="fourthDiv">
                    <label for="choosefile" id="label1">Choose file
                        <input type="file" id="choosefile" name="" accept="image/*">
                    </label>
                    <button id="btn1">Upload</button><br><br>
                </div>
            </div>
            <div id="fifthDiv">
                <p id="para2">Want to generate from random image?</p>
                <div id="sixthDiv"><button id="btn2">Click here</button></div>
            </div>
        </div>
    </div>
    <div class="mainDivs">
        <h1 class="headings">Generate Favicons from TEXTS.</h1>
        <div class="secondDivs">
            <div id="textDiv">
                <div id="textDiv1">
                    <p>Text Options</p>
                    <div id="textDiv1a">
                        <div class="textfont"><label for="text">Text</label></div>
                        <input type="text" id="text1" name="" value="" placeholder="text">
                    </div><br><br>
                    <label>Robato</label>
                    <input type="button" id="" value="<">
                    <input type="button" value=">"><br><br>
                    <label for="font" class="textfont">Font size</label>
                    <input type="number" id="font"><br><br>
                    <label>Background</label>
                    <input type="number">
                </div>
                <div id="textDiv2">
                    <p class="preview">Preview</p>
                    <img src="quest.jpg" alt="" class="prevImage">
                    <div id="btn">
                        <button class="btn3">Save<i class="far fa-save"></i></button>
                        <button class="btn4">Download  <i class="fa fa-download"></i></button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="mainDivs">
        <h1 class="headings">Generate Favicons from ICONS</h1>
        <div class="secondDivs">
            <div>
                <p>Choose from various categories of icons to generate your favicon</p>
                <button class="btn5">People</button>
                <button class="btn5">Nature</button>
                <button class="btn5">Places</button>
                <button class="btn5">Objects</button>
                <button class="btn5">Flags</button>
            </div>
            <div id="iconDiv">
                <div id="iconDiv1">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons"><br><br><br>
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons"><br><br><br>
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                    <img src="circle.jpg" alt="" class="icons">
                </div>
                <div id="iconDiv2">
                    <p class="preview">Preview</p>
                    <img src="quest.jpg" alt="" class="prevImage">
                    <div id="btn34">
                        <button class="btn3">Save<i class="far fa-save"></i></button>
                        <button class="btn4">Download  <i class="fa fa-download"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer">
            <div>
                <h5>About Us</h5>
                <p>What we do</p>
                <p>How we roll</p>
                <p>What we are</p>
            </div>
            <div>
                <h5>Support</h5>
                <p>Documentation</p>
                <p>Features</p>
                <p>Feedback</p>
            </div>
            <div>
                <h5>Resources</h5>
                <p>What are favicons</p>
                <p>How to generate favicons</p>
                <p>Icons gallery</p>
                <p>Favicons format</p>
            </div>
            <div>
                <h5>Contact Us</h5>
                <a href="">twitter</a><br><br>
                <a href="">facebook</a><br><br>
                <a href="">github</a><br><br>
                <a href="">slack</a><br><br>
            </div>
        </div>
    </footer>
</body>
</html>