<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favicon Modal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fontawesome.com/v5/icons/save?s=regular.css">
    <link rel="stylesheet" href="favicon.css">
</head>
<body>
    <div>
        <p class="para4">Your uniquely generated favicon is right here.</p>
        <div>
            <img src="quest.jpg" alt="" id="previmage1">
            <button>Save</button>
            <button>Download</button>
        </div>
        <br><br>
    </div>
    <p class="para4">Include the following code at the head of your HTML document</p>
    <div>
        <div></div>
        <button>Copy link</button>
    </div>
</body>
</html>