*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    min-height: auto;
}

/* Favicon modal page */

/* The header part */

/* The head part. */

#headerdiva{
    width: 100%;
    border-bottom: solid rgb(211, 210, 210) 2px;
    padding-bottom: 15px;
    margin-bottom: 98px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#headerdiv1a{
    display: flex;
    width: 100%;
    background-color: white;
    padding-left: 97px;
}

#genzimg1{
    flex: 0 0 236px;
    height: 72px;
    margin-right: 235.58px;
    justify-items: auto;
}

.navlink1{
    margin: auto 72px auto 0;
    flex: 0 0 auto;
    height: fit-content;
}

#navlink1{
    margin: auto 290.45px auto 0;
    flex: 0 0 auto;
    height: fit-content;
}

.atag1{
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

#headbtndiv1{
    height: fit-content;
    margin: auto 10px auto 0;
    border-radius: 5px;
}

#headbtn1{
    border: solid 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9F9D9D;
    color: #9F9D9D;
}

#para4a1{
    font-weight: 600;
    font-style: normal; 
    font-size: 32px;
    text-align: center;
    color: #1F1D1D;
}

#previmage1a{
    width: 190.9px;
    height: 184.13px;
    margin: 5% auto;
}

#range3{
    height: fit-content;
    padding-bottom: 0%;
    width: fit-content;
    margin: 0px auto;
}

#sliderlabel1{
    display: inline-flex;
    padding-left: 18px;
    margin-left: 36%;
}

#slider3{
    flex: 0 0 50px;
    margin-right: 225.95px;
}

#slider4{
    flex: 0 0 40px;
}

#btns1{
    margin-top: 32.08px;
    width: auto;
    text-align: center;
    margin-bottom: 60px;
}

#savebtn{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
    color: #9F9D9D;
    margin-right: 1%;
    border: 1px solid #1F1D1D;
    border-radius: 5.89863px;
}

#downbtn{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    border: none;
    background-color: #FD568A;
    border-radius: 5.89863px;
    color: white;
}

#para4b{
    font-weight: 600;
    font-style: normal; 
    font-size: 32px;
    text-align: center;
    color: #1F1D1D;
}

#htmlDiv{
    background-color: #F0F5FD;
    width: 80%;
    margin: 2% auto 5%;
    padding: 2% 0% 2%;
    border-radius: 5px;
}

textarea{
    width: 90%;
    background-color: #C2D5F8;;
    height: 210px;
    border-radius: 5px;
    margin: 0 5%;
    box-sizing: border-box;
    font-size: large;
    padding: 1% 0% 0% 2%;
    resize: none;
    border: none;
}

textarea:focus{
    background-color: white;
}

#copybtn{
    padding: 1% 2%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-style: normal;
    background-color: #FD568A;
    border: none;
    margin: 3% 0% 3% 5%;
}


/* Footer */

footer{
    background-color: #3D4452;
    width: 100%;
}

#footer{
    display: flex;
    width: 100%;
    color: black;
    border: solid 2px;
    padding-left: 212px;
    padding-right: 205px;
    color: white;
}

#footer1{
    flex: 0 0 auto;
    padding-top: 113px;
    padding-bottom: 86px;
    margin-right: 10%;   
}

.foothead{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 29px;
    text-decoration: none;
}

.footpara{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

#footer2{
    flex: 0 0 auto;
    padding-top: 113px;
    padding-bottom: 86px;
    margin-right: 10%;
}

#footer3{
    flex: 0 0 auto;
    padding-top: 113px;
    padding-bottom: 86px;
    margin-right: 10%;
}

#footer4{
    flex: 0 0 auto;
    padding-top: 113px;
    padding-bottom: 86px;
    margin-right: 10%;
}

a{
    color: white;
    text-decoration: none;
}

.fa-download{
    margin-left: 10px;
}

.fa-save{
    margin-left: 10px;
}

.fa-twitter{
    margin-right: 16.3px;
}

.fa-facebook{
    margin-right: 16.3px;
}

.fa-github{
    margin-right: 16.3px;
}

.fa-slack{
    margin-right: 16.3px;
}


/* Input Types */

input[type=range]{
    /* -webkit-appearance: none; */
    width: 300.4px;
    height: 8.71px;
    background-color: rgb(222, 229, 233);
    border-radius: 34.8293px;
    
}

input[type=range]::-webkit-progress-value{
    background-color: pink;
    color: red;
}

innput[type=range]::-webkit-slider-thumb{
    background-color: gray;
}
