<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./header.css" rel="stylesheet" />
        
        <title>header</title>
    </head>
    <body>
        <div class="home-active-state-header">
            <div class="home-active-state-frame199">
              <div class="home-active-state-frame196">
                <span class="home-active-state-text87 bodyRegular4">
                  <span><a href="#">Favicons</a></span>
                </span>
              </div>
              <div class="home-active-state-frame197">
                <span class="home-active-state-text89 bodyRegular4">
                  <span><a href="#">Contact us</a></span>
                </span>
              </div>
              <div class="home-active-state-frame198">
                <span class="home-active-state-text91 bodyRegular4">
                  <span><a href="#">Tutorial</a></span>
                </span>
              </div>
        
          </div>
          <a href="#"><img
            src="images/fav.png"
            alt="Logo"
            class="home-active-state-project-team66favicon-generatorremovebgpreview"
          /></a>
          <div class="home-active-state-frame215">
            <a href="#"><span class="home-active-state-text93"><span>Signup</span></span>
            </a>
          </div>
          <div class="home-active-state-frame216">
            <a href="#"><span class="home-active-state-text93"><span>Signin</span></span>
            </a>
          </div>
        </div>
      </div>
    </body>
    </html>
</html>