<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="./index.css" rel="stylesheet" />
    
      <title>GenZicons</title>

    </head>
    <body>
      <div>
       
        <div class="home-active-state-container">
          <div class="home-active-state-home-page-authenticateduser">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/919a3d7e-650c-46da-89fd-4312ac9fc848?org_if_sml=1153168"
              alt="Rectangle7702:31"
              class="home-active-state-rectangle770"
            />
            <span class="home-active-state-text">
              <span class="home-active-state-text01">Generate</span>
              <span class="home-active-state-text02">your</span><br>
              <span class="home-active-state-text03"> personal</span>
              <span class="home-active-state-text04">favicon</span><br>
              <span class="home-active-state-text03"> with ease.</span>
            </span>
            <span class="home-active-state-text06">
              <span>
                Customize your favicon from image, icon and text for your
                project with a click
              </span>
            </span>
            
                <button  type="button" class="home-button">
                  Create favicon
                </button>
              
            </div>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/c823a40d-1191-4a45-8757-76a2dd400366?org_if_sml=164299"
              alt="Rectangle7682:37"
              class="home-active-state-rectangle768"
            />
            <span class="home-active-state-text10"
              ><span>How It Works</span></span
            >
            
            <div class="home-active-state-group233">
              <div class="home-active-state-group232">
                <span class="home-active-state-text14 headerR2">
                  <span>
                    <span>Enter your Text, Images</span>
                    <br />
                    <span>&amp; Icons</span>
                  </span>
                </span>
                <span class="home-active-state-text19">
                  <span>
                    Start by entering your brand name then we will suggest
                    related designs so that you can browse through the templates
                    to choose a design that is suitable for your brand.
                  </span>
                </span>
              </div>
              <img
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/30e12aef-7422-479e-b1d9-2c7de6ca51f0?org_if_sml=1228284"
                alt="Rectangle7722:44"
                class="home-active-state-rectangle772"
              />
            </div>
            <div class="home-active-state-group231">
              <div class="home-active-state-group229">
                <span class="home-active-state-text21 headerR2">
                  <span>Generate your Favicons</span>
                </span>
                <span class="home-active-state-text23">
                  <span>
                    After entering your brand name, uploading your image or icon
                    you then click on the generate button.
                  </span>
                </span>
              </div>
              <img
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/77182721-9f71-40eb-ad3e-ac4c2dd65cb1?org_if_sml=1144556"
                alt="Rectangle7732:49"
                class="home-active-state-rectangle773"
              />
            </div>
            <div class="home-active-state-group230">
              <div class="home-active-state-group227">
                <span class="home-active-state-text25 headerR2">
                  <span>Download your favicon</span>
                </span>
                <span class="home-active-state-text27">
                  <span>
                    After generating your favicon, you can then go ahead to
                    download it either by clicking on the download button or
                    right click on the icon then click on download image.
                    Download your Favicons in variety of layout and format. Jpg,
                    Svg, Png, ICO
                  </span>
                </span>
              </div>
              <img
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/03850dd7-5a99-440e-90fc-d3102939c12b?org_if_sml=1189831"
                alt="Rectangle7742:54"
                class="home-active-state-rectangle774"
              />
            </div>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/2755ba52-6eb5-4abe-a01c-fb4215e59c3b?org_if_sml=19703"
              alt="Rectangle7782:55"
              class="home-active-state-rectangle778"
            />
            <span class="home-active-state-text29"
              ><span>Why GenZicon?</span></span
            >
            <div class="home-active-state-frame210">
              <img
                src="/playground_assets/ellipse72%3A58-bl0j.svg"
                alt="Ellipse72:58"
                class="home-active-state-ellipse7"
              />
              <span class="home-active-state-text31 bodyBold9">
                <span>Easy and fast to use</span>
              </span>
              <span class="home-active-state-text33 bodyBold6">
                <span>
                  Create and generate your favicons easily and quickly without
                  any delay.
                </span>
              </span>
            </div>
            <div class="home-active-state-frame212">
              <img
                src="/playground_assets/ellipse72%3A62-urdg.svg"
                alt="Ellipse72:62"
                class="home-active-state-ellipse71"
              />
              <span class="home-active-state-text35 bodyBold9">
                <span>Instant feedback</span>
              </span>
              <span class="home-active-state-text37 bodyBold6">
                <span
                  >Receive instant feedback from us regarding any issue.</span
                >
              </span>
            </div>
            <div class="home-active-state-footer">
              <div class="home-active-state-akariconsslackfill"></div>
            </div>
            <div class="home-active-state-frame211">
              <img
                src="/playground_assets/ellipse72%3A68-4mqg.svg"
                alt="Ellipse72:68"
                class="home-active-state-ellipse72"
              />
              <span class="home-active-state-text39 bodyBold9">
                <span>Embed your code</span>
              </span>
              <span class="home-active-state-text41 ">
                <span>
                  Once your favicon has been generated, you can copy the
                  embedded code for the icon.
                </span>
              </span>
            </div>
            <div class="home-active-state-frame213">
              <img
                src="/playground_assets/ellipse72%3A72-2dd7.svg"
                alt="Ellipse72:72"
                class="home-active-state-ellipse73"
              />
              <span class="home-active-state-text43 bodyBold9">
                <span>Save data</span>
              </span>
              <span class="home-active-state-text45">
                <span>
                  After generating your favicons, you can save for later
                  download or download and save right away.
                </span>
              </span>
            </div>
            <div class="home-active-state-footer1">
              <div class="home-active-state-group190">
                <span class="home-active-state-text47"
                  ><span>What we do</span></span
                >
                <span class="home-active-state-text49"
                  ><span>How we roll</span></span
                >
                <span class="home-active-state-text51">
                  <span>Where we are</span>
                </span>
                <span class="home-active-state-text53 bodyBold8">
                  <span>About us</span>
                </span>
              </div>
              <div class="home-active-state-akariconsslackfill1"></div>
              <div class="home-active-state-group188">
                <span class="home-active-state-text55">
                  <span>What are favicons</span>
                </span>
                <span class="home-active-state-text57">
                  <span>How to generate favicons</span>
                </span>
                <span class="home-active-state-text59">
                  <span>Icons gallery</span>
                </span>
                <span class="home-active-state-text61">
                  <span>Favicons formats</span>
                </span>
                <span class="home-active-state-text63 bodyBold8">
                  <span>Resources</span>
                </span>
              </div>
              <div class="home-active-state-group189">
                <span class="home-active-state-text65">
                  <span>Documentation</span>
                </span>
                <span class="home-active-state-text67"
                  ><span>Features</span></span
                >
                <span class="home-active-state-text69"
                  ><span>Feedback</span></span
                >
                <span class="home-active-state-text71 bodyBold8">
                  <span>Support</span>
                </span>
              </div>
              <div class="home-active-state-frame237">
                <span class="home-active-state-text73 bodyBold8">
                  <span>Contact us</span>
                </span>
                <div class="home-active-state-frame236">
                  <div class="home-active-state-frame232">
                    <img
                      src="/playground_assets/akariconstwitterfill2%3A98-40g.svg"
                      alt="akariconstwitterfill2:98"
                      class="home-active-state-akariconstwitterfill"
                    />
                    <span class="home-active-state-text75 bodyRegular5">
                      <span>Twitter</span>
                    </span>
                  </div>
                  <div class="home-active-state-frame233">
                    <img
                      src="/playground_assets/bxlfacebook2%3A102-dx1f.svg"
                      alt="bxlfacebook2:102"
                      class="home-active-state-bxlfacebook"
                    />
                    <span class="home-active-state-text77 bodyRegular5">
                      <span>Facebook</span>
                    </span>
                  </div>
                  <div class="home-active-state-frame234">
                    <img
                      src="/playground_assets/akariconsgithubfill2%3A106-7o9q.svg"
                      alt="akariconsgithubfill2:106"
                      class="home-active-state-akariconsgithubfill"
                    />
                    <span class="home-active-state-text79 bodyRegular5">
                      <span>Github</span>
                    </span>
                  </div>
                  <div class="home-active-state-frame235">
                    <img
                      src="/playground_assets/akariconsslackfill2%3A110-8rvs.svg"
                      alt="akariconsslackfill2:110"
                      class="home-active-state-akariconsslackfill2"
                    />
                    <span class="home-active-state-text81 bodyRegular5">
                      <span>Slack</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <span class="home-active-state-text11 headerB3"><span>Get Started</span></span>
              <span class="home-text81">
                <span>
                  Looking to start your Favicon generation journey? You are in the right
                  Place. Generate your <br>favicon from image, icon and text for your
                  project with a click.
                </span>
              </span>
              
      
                <button type="button" class="btn">Create Favicon
                </button>
      
             
            </div>
            <div class="home-active-state-header">
              <div class="home-active-state-frame199">
                <div class="home-active-state-frame196">
                  <span class="home-active-state-text87 bodyRegular4">
                    <span><a href="#">Favicons</a></span>
                  </span>
                </div>
                <div class="home-active-state-frame197">
                  <span class="home-active-state-text89 bodyRegular4">
                    <span><a href="#">Contact us</a></span>
                  </span>
                </div>
                <div class="home-active-state-frame198">
                  <span class="home-active-state-text91 bodyRegular4">
                    <span><a href="#">Tutorial</a></span>
                  </span>
                </div>
          
            </div>
            <a href="#"><img
              src="images/fav.png"
              alt="Logo"
              class="home-active-state-project-team66favicon-generatorremovebgpreview"
            /></a>
            <div class="home-active-state-frame215">
              <a href="#"><span class="home-active-state-text93"><span>Signup</span></span>
              </a>
            </div>
            <div class="home-active-state-frame216">
              <a href="#"><span class="home-active-state-text94"><span>Signin</span></span>
              </a>
            </div>
          </div>
        </div>
    </body>
  </html>
</html>
