<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
<link rel="stylesheet" href="frontend/static/account/index.css" />
                             
                             
        <title>GenZicons</title>
    </head>
    <body>
      <div>
        
        <div class="home-container">
          <div class="home-frame-unauthenticated-user-home-page">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/6092f2b5-5d88-46ed-8544-17e831b43a5a?org_if_sml=1153168"
              alt="Rectangle7703:4"
              class="home-rectangle770"
            />
            <span class="home-text">
              <span class="home-text01">Generate</span>
              <span class="home-text02"></span>
              <span class="home-text03">your personal</span><br>
              <span class="home-text04">favicon</span>
              <span>with ease.</span>
            </span>
            <span class="home-text06">
              <span>
                Customize your favicon from image, icon and text for your project with
                a click
              </span>
            </span>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/7e77cf42-9f10-48f8-8873-e6080c6b4f68?org_if_sml=164299"
              alt="Rectangle7683:7"
              class="home-rectangle768"
            />
            <span class="home-text08"><span>How It Works</span></span>
            <span class="home-text10 headerB3"><span>Get Started</span></span>
            <div class="home-group233">
              <div class="home-group232">
                <span class="home-text12 headerR2">
                  <span>
                    <span>Enter your Text, Images</span>
                    <br />
                    <span>&amp; Icons</span>
                  </span>
                </span>
                <span class="home-text17">
                  <span>
                    Start by entering your brand name then we will suggest related
                    designs so that you can browse through the templates to choose a
                    design that is suitable for your brand.
                  </span>
                </span>
              </div>
              <img
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/4f276f9d-3655-4c45-afdd-9b0a70d6e6f4?org_if_sml=1228284"
                alt="Rectangle7723:14"
                class="home-rectangle772"
              />
            </div>
            <div class="home-group231">
              <div class="home-group229">
                <span class="home-text19 headerR2">
                  <span>Generate your Favicons</span>
                </span>
                <span class="home-text21">
                  <span>
                    After entering your brand name, uploading your image or icon you
                    then click on the generate button.
                  </span>
                </span>
              </div>
              <img
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/3ec31674-bd9b-40d6-9c78-45a0b30f303c?org_if_sml=1144556"
                alt="Rectangle7733:19"
                class="home-rectangle773"
              />
            </div>
            <div class="home-group230">
              <div class="home-group227">
                <span class="home-text23 headerR2">
                  <span>Download your favicon</span>
                </span>
                <span class="home-text25">
                  <span>
                    After generating your favicon, you can then go ahead to download
                    it either by clicking on the download button or right click on the
                    icon then click on download image. Download your Favicons in
                    variety of layout and format. Jpg, Svg, Png, ICO
                  </span>
                </span>
              </div>
              <img
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/d1046eca-f1e1-4caf-946e-d0c9a3134108?org_if_sml=1189831"
                alt="Rectangle7743:24"
                class="home-rectangle774"
              />
            </div>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/4815c39a-b31e-4507-9d9f-396f99175138?org_if_sml=19703"
              alt="Rectangle7783:25"
              class="home-rectangle778"
            />
            <span class="home-text27"><span>Why GenZicon?</span></span>
            <div class="home-frame210">
              <img
                src="/playground_assets/ellipse73%3A28-gc8g.svg"
                alt="Ellipse73:28"
                class="home-ellipse7"
              />
              <span class="home-text29 bodyBold9">
                <span>Easy and fast to use</span>
              </span>
              <span class="home-text31 bodyBold6">
                <span>
                  Create and generate your favicons easily and quickly without any
                  delay.
                </span>
              </span>
            </div>
            <div class="home-frame212">
              <img
                src="/playground_assets/ellipse73%3A32-pei.svg"
                alt="Ellipse73:32"
                class="home-ellipse71"
              />
              <span class="home-text33 bodyBold9"><span>Instant feedback</span></span>
              <span class="home-text35 bodyBold6">
                <span>Receive instant feedback from us regarding any issue.</span>
              </span>
            </div>
            <div class="home-footer"><div class="home-akariconsslackfill"></div></div>
            <div class="home-frame211">
              <img
                src="/playground_assets/ellipse73%3A38-mll.svg"
                alt="Ellipse73:38"
                class="home-ellipse72"
              />
              <span class="home-text37 bodyBold9"><span>Embed your code</span></span>
              <span class="home-text39 bodyBold6">
                <span>
                  Once your favicon has been generated, you can copy the embedded code
                  for the icon.
                </span>
              </span>
            </div>
            <div class="home-frame213">
              <img
                src="/playground_assets/ellipse73%3A42-1s3b.svg"
                alt="Ellipse73:42"
                class="home-ellipse73"
              />
              <span class="home-text41 bodyBold9"><span>Save data</span></span>
              <span class="home-text43">
                <span>
                  After generating your favicons, you can save for later download or
                  download and save right away.
                </span>
              </span>
            </div>
            <div class="home-footer1">
              <div class="home-group190">
                <span class="home-text45"><span>What we do</span></span>
                <span class="home-text47"><span>How we roll</span></span>
                <span class="home-text49"><span>Where we are</span></span>
                <span class="home-text51 bodyBold8"><span>About us</span></span>
              </div>
              <div class="home-akariconsslackfill1"></div>
              <div class="home-group188">
                <span class="home-text53"><span>What are favicons</span></span>
                <span class="home-text55"><span>How to generate favicons</span></span>
                <span class="home-text57"><span>Icons gallery</span></span>
                <span class="home-text59"><span>Favicons formats</span></span>
                <span class="home-text61 bodyBold8"><span>Resources</span></span>
              </div>
              <div class="home-group189">
                <span class="home-text63"><span>Documentation</span></span>
                <span class="home-text65"><span>Features</span></span>
                <span class="home-text67"><span>Feedback</span></span>
                <span class="home-text69 bodyBold8"><span>Support</span></span>
              </div>
              <div class="home-frame237">
                <span class="home-text71 bodyBold8"><span>Contact us</span></span>
                <div class="home-frame236">
                  <div class="home-frame232">
                    <img
                      src="/playground_assets/akariconstwitterfill3%3A68-eji.svg"
                      alt="akariconstwitterfill3:68"
                      class="home-akariconstwitterfill"
                    />
                    <span class="home-text73 bodyRegular5"><span>Twitter</span></span>
                  </div>
                  <div class="home-frame233">
                    <img
                      src="/playground_assets/bxlfacebook3%3A72-xvqt.svg"
                      alt="bxlfacebook3:72"
                      class="home-bxlfacebook"
                    />
                    <span class="home-text75 bodyRegular5">
                      <span>Facebook</span>
                    </span>
                  </div>
                  <div class="home-frame234">
                    <img
                      src="/playground_assets/akariconsgithubfill3%3A76-qh39.svg"
                      alt="akariconsgithubfill3:76"
                      class="home-akariconsgithubfill"
                    />
                    <span class="home-text77 bodyRegular5"><span>Github</span></span>
                  </div>
                  <div class="home-frame235">
                    <img
                      src="/playground_assets/akariconsslackfill3%3A80-mk9r.svg"
                      alt="akariconsslackfill3:80"
                      class="home-akariconsslackfill2"
                    />
                    <span class="home-text79 bodyRegular5"><span>Slack</span></span>
                  </div>
                </div>
              </div>
            </div>
            <span class="home-text81">
              <span>
                Looking to start your Favicon generation journey? You are in the right
                Place. Generate your favicon from image, icon and text for your
                project with a click.
              </span>
            </span>
            <div class="home-group184">
              <div class="home-frame202">
                <span class="home-text83"><span>Create Favicon</span></span>
              </div>
            </div>
            <div class="home-header">
              <div class="home-frame199">
                <div class="home-frame196">
                  <span class="home-text85 bodyRegular4"><span>Favicons</span></span>
                </div>
                <div class="home-frame197">
                  <span class="home-text87 bodyRegular4">
                    <span>Contact us</span>
                  </span>
                </div>
                <div class="home-frame198">
                  <span class="home-text89 bodyRegular4"><span>Tutorial</span></span>
                </div>
              </div>
              <div class="home-frame180">
                <span class="home-text91"><span>Sign in</span></span>
              </div>
              <div class="home-frame214">
                <span class="home-text93"><span>Sign up</span></span>
              </div>
            </div>
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a0ab3177-809b-4999-918d-ff8de9adfa5c/fd9e43e3-746a-4ab2-ac2d-e3cb8e66a613?org_if_sml=16963"
              alt="ProjectTeam66FaviconGeneratorremovebgpreview3:98"
              class="home-project-team66favicon-generatorremovebgpreview"
            />
          </div>
        </div>
      </div>
       

    
    </html>
</html>
