<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User profile</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/account/userProfile.css" />
  </head>
  <body>
    <div class="wrapper  absolute">
      <header class="top-nav-bar items-center justify-between " style="top:0; background: grey; position: sticky;">
        <div class=""><img src="../account/images/logo.png" alt="logo"></div>
        <div class="flex justify-center">
          <nav class="flex">
            <ul class="flex nav-items">
              <li><a href="#" target="_blank" rel="noopener noreferrer">Favicons</a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer">Contact us</a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer">Tutorial</a></li>
            </ul>
            
            <nav class="flex">
              <!-- <ul class="flex f-col mobile-nav-items">
                <li><a href="#" target="_blank" rel="noopener noreferrer">Favicons</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Contact us</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Tutorial</a></li>
                <li>Change Password</li>
                <li>Sign Out</li>
              </ul> -->
              <img class="menu-icon" src="../account/images/menu-icon.svg" alt="menu icon">

          </nav>
        </div>
      </header>
      <main>
        <div class="grid">
          <nav class="side-bar bg-side-bar">
            <ul class="ul">
              <li class="nav-items">
                <div class="flex nav-gap">
                  <img src="images/overview.svg" alt="overview">
                  <span><b>Overview</b></span>
                </div>
              </li>
              <li>
                <div class="flex nav-gap">
                  <img src="images/edit.svg" alt="Edit profile">
                  <span>Edit Profile</span>
                </div>
              </li>
               <li>
                <div class="flex nav-gap">
                  <img src="images/messages.svg" alt="Mail us">
                  <span>Mail Us</span>
                </div>
              </li>
              <li>
                <div class="flex nav-gap">
                  <img src="images/lock.svg" alt="change password">
                  <span>Change Password</span>
                </div>
              </li>
              <li>
                <div class="flex nav-gap">
                  <img src="images/logout.svg" alt="log out">
                  <span>Sign Out</span>
                </div>
              </li>
            </ul>
          </nav>
          <div class="container user-bg p-user">
            <section class="my-section">
              <h1 class="p-bottom">User Profile</h1>
              <div class="flex items-center gap-user user-about">
                <figure class="user-image-box">
                  <img class="user-image object-contain" src="images/Ellipse 2.png" alt="user-image" />
                </figure>
                
                <span>
                    <p>John Doe</p>
                    <p>Frontend Developer</p>
                    <small>Joined<date> July, 2023</date></small>
                </span>
              </div>
            </section>
            
            <section class="my-section p-bottom">
              <h2 class="p-bottom">All Generated Favicons</h2>
              <div class="h-gen-favicon flex f-wrap f-gap bg-white p-gen-favicon overflow">
                <img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt="">
                <img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt="">
                <img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt="">
                <img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt="">
                <img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt=""><img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt=""><img src="images/Rectangle 1079.svg" alt="">
                <img src="images/Rectangle 1080.svg" alt="">
                <img src="images/Rectangle 1081.svg" alt="">
                <img src="images/Rectangle 1082.svg" alt="">
                <img src="images/Rectangle 1083.svg" alt="">
                <img src="images/Rectangle 1084.svg" alt="">
                <img src="images/Rectangle 1085.svg" alt="">
                <img src="images/Rectangle 1086.svg" alt="">
                <img src="images/Rectangle 1087.svg" alt="">
                <img src="images/Rectangle 1088.svg" alt="">
              </div>
            </section>

            <section class="my-section p-bottom">
              <h2 class="p-bottom">Saved HTML code</h2>
              <div class="flex justify-between sm-f-col">
                <div class="w-gen-code">
                  <div>
                    <img class="object-contain" width="100%" src="images/generated-code.svg" alt="generated-code">
                  </div>
                  <img class="" src="images/copy-code.svg" alt="">
                </div> 
                <div class="w-gen-code">
                  <div>
                    <img class="object-contain" width="100%" src="images/generated-code.svg" alt="generated-code">
                  </div>
                  <img class="" src="images/copy-code.svg" alt="">
                </div>
              </div>
            </section>
          </div>
          
        </div>
      </main>
      <!-- <footer
        style="
          height: 60px;
          background: blue;
          position: sticky;
          bottom: 0;
          width: 100vw;
        "
      >
        Footer
      </footer> -->
    </div>
  </body>
</html>
