@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap');

.dark-theme {
    background: #282c35;
    color: white;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    min-height: auto;
    transition: background 350ms;
    padding: 0;
    margin: 0;
}

body {
    font-size: 0.8750em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 120%;
    margin-top: 0%;
    /* background: #E7EEFC; */
}

/* The head part. */

#headerdiv {
    border-bottom: solid rgb(211, 210, 210) 2px;
    padding-bottom: 0px;
    width: 100%;
    margin-bottom: 0;
    /* height: fit-content; */
    box-shadow: 0px 0px 10px 0px rgb(12, 10, 10);
}

#headerdiv1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding-left: 97px;
}

#genzimg {
    flex: 0 0 236px;
    height: 72px;
    margin-right: 235.58px;
    justify-items: auto;
}

.navlink {
    margin: auto 72px auto 0;
    flex: 0 0 auto;
    height: fit-content;
    color: black;
}

#navlink {
    margin: auto 80px auto 0;
    flex: 0 0 auto;
    height: fit-content;
    color: black;
}

/* ---------------------------------- */
/* The switch - the box around the slider */

.toggle {
    margin: auto 20px auto 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #5B677C;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked+.slider {
    background-color: #fd568a;
}

input[type="checkbox"]:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ------------------------------------------- */
.atag {
    color: unset;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

#headbtndiv {
    height: fit-content;
    margin: auto 10px auto 0;
    border-radius: 5px;
    margin-left: 20px;
}

#headbtn {
    border: solid 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9f9d9d;
    color: #9f9d9d;
}


/* The main part */
#containerBefore {
    background: #E7EEFC;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.content {
    display: flex;
}

.intro {
    width: 50%;
    padding: 0 4em;
}

.details {
    width: 50%;
    padding: 0 4em;
}



h1 {
    text-align: left;
    margin: 2em 0 2em 6em;
    word-spacing: 7px;
    font-size: 3em;
}

p {
    margin-bottom: 2em;
}

.get {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
}

.contact {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
}

.formgroup {
    margin-bottom: 1em;
}

.box {
    width: 100%;
    height: 2em;
}

textarea {
    width: 100%;
    height: 200px;
}

#submit {

    padding: 0.6em;
    border-radius: 10px;
    background-color: #3a3838;
    border: none;
    color: #ffffff;
    margin-right: 0;
    float: right;
    margin-top: 2em;
    margin-bottom: 10%;

}

.push {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}

.last {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    text-align: justify;
}

.faqs a {
    color: #FD568A;
    font-size: 1.5em;
}

.faqs a:hover {
    color: #db1151
}

h2 {
    margin-bottom: 2.5em;
}

label {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}


.box {
    width: 100%;
    height: 4em;
    margin-top: 0.7em;
    border-radius: 1em;
    border: 2px solid grey;
    padding: 0 1em;
    font-size: 1.3em;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 1em;
    border-radius: 1em;
}

#submit {
    padding: 1.5em 3em;
    border-radius: 1em;
    background-color: #FD568A;
    border: none;
    color: #ffffff;
    margin-right: 0;
    float: right;
    margin-top: 2em;
    font-size: initial;
}

#submit:hover {
    background-color: #ffffff;
    border: 2px solid grey;
    color: #FD568A;
}

.gonedown {
    display: none;
}

.checkbox {
    margin-right: 1em;
}

input:invalid.required {
    border: 2px solid #FD568A;
}

input:invalid:required:focus {
    border: 2px solid #FD568A;
}

input:valid {
    border: 2px solid grey;
}

/* Footer */

footer {
    background-color: #3d4452;
    width: 100%;
  }
  
  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: black;
    border: solid 2px;
    color: white;
    padding: 5% 10% 3%;
  }
  
  .foothead {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 29px;
    text-decoration: none;
  }
  
  .footpara {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  
  #footer4 {
    margin-right: 10%;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .fa-download {
    margin-left: 10px;
  }
  
  .fa-save {
    margin-left: 10px;
  }
  
  .fa-twitter {
    margin-right: 16.3px;
  }
  
  .fa-facebook {
    margin-right: 16.3px;
  }
  
  .fa-github {
    margin-right: 16.3px;
  }
  
  .fa-slack {
    margin-right: 16.3px;
  }

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding: 2em;
        flex-direction: column;
    }

    .content {
        display: block;
    }

    .intro {
        width: 100%;
        padding: 1em;
    }

    .details {
        width: 100%;
        padding: 1em;
    }

    h1 {
        text-align: center;
        margin: 0 0 1em 0;
    }

    p {
        line-height: 20px;
        margin-top: 1em;
        text-align: center;
    }

    .last {
        font-weight: bold;
        margin-top: 1em;
    }

    .faqs {
        color: grey;
        margin-top: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        margin-bottom: 2.5em;
        text-align: center;
    }

    .checkbox {
        margin-right: 1em;
    }

    button {
        padding: 1.5em 3em;
        border-radius: 0.5em;
        background-color: #FD568A;
        border: none;
        color: #ffffff;
        margin-top: 2em;
        margin-bottom: 4em;
        width: 100%;
    }

    button:hover {
        background-color: #ffffff;
        border: 2px solid grey;
        color: #FD568A;
    }

    .gone {
        display: none;
    }

    .gonedown {
        display: flex;
        background-color: #E7E5E5;
        border-radius: 1em;
        width: 100%;
        padding: 0.8em;
    }

    .contact {
        width: 38%;
        font-size: 1.2em;
        font-weight: 400;
        text-align: left;
        line-height: 2em;
    }

    .push {
        width: 62%;
        font-size: 1.2em;
        font-weight: 400;
        text-align: left;
        line-height: 2em;
        word-wrap: break-word;

    }
}