.home-active-state-header {
    top: 0px;
    left: 16px;
    width: 1424px;
    height: 72px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .home-active-state-frame199 {
    top: 21px;
    left: 571.5777587890625px;
    width: 421.7611083984375px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
  }
  .home-active-state-frame196 {
    margin: 0 40 0 0;
    display: flex;
    padding: 4px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
  }
  .home-active-state-text87 {
    color: var(--dl-color-black-11);
    height: auto;
    margin: 0 0 0 0;
    align-self: auto;
    text-align: left;
    line-height: 22px;
  }
  .home-active-state-frame197 {
    margin: 0 40 0 0;
    display: flex;
    padding: 4px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
  }
  .home-active-state-text89 {
    color: var(--dl-color-black-11);
    height: auto;
    margin: 0 0 0 0;
    align-self: auto;
    text-align: left;
    line-height: 22px;
  }
  .home-active-state-frame198 {
    display: flex;
    padding: 4px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 8px;
  }
  .home-active-state-text91 {
    color: var(--dl-color-black-11);
    height: auto;
    margin: 0 0 0 0;
    align-self: auto;
    text-align: left;
    line-height: 22px;
  }
  .home-active-state-project-team66favicon-generatorremovebgpreview {
    top: -9px;
    left: 86px;
    width: 236px;
    height: 90px;
    margin: 0 0 0 0;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
  }
  .home-active-state-frame215 {
    top: 17px;
    left: 1102.27px;
    width: 84px;
    display: flex;
    padding: 10px 12px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(158, 156, 156, 1);
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    justify-content: center;
  }
  .home-active-state-frame216 {
    width: 84px;
  left: 1237.28px;
  top: 17px;
    display: flex;
    padding: 10px 12px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(158, 156, 156, 1);
    background-color: #FD568A;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    justify-content: center;
  }
  .home-active-state-text93 {
    color: #9f9d9d;
    height: auto;
    margin: 0 0 0 0;
    font-size: 16px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    line-height: 114.99999761581421%;
    font-stretch: normal;
    text-decoration: none;}

    a{
        text-decoration: none;
    }
