 :root {
   font-family: 'Poppins', sans-serif;

 }

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   max-width: 100%;
 }
 h1{
  font-weight: 600;
  font-size: 40px;
  line-height:120%;
  text-align: center;
  padding: 24px;  
 }

 body {
   min-height: 100vh;
   width: 100vw;
   display: flex;
   padding: 48pt 56pt;
   background: #D9D9D9;
   align-items: center;
 }

 .form-container {

width: 40%;
/* border-radius: 20px; */
position: relative;
background: #F0F5FD;
border-radius: 32px;
padding: 24pt 56pt;

  }
  
 .form-content {
   width: 100%;
   /* background-color: aqua; */

 }

 .form-content h1,
 h1+p,
 button {
   text-align: center;
   margin: 0 auto;
   width: 100%;
 }

 form {
   width: 100%;
   margin: 0 auto;
 }

 .form-content label,
 .form-content input {
   width: 100%;
   text-align: left;
 }

 .form-content label {
   font-size: 11px;
   display: block;
   margin: 4pt 0;
 }

 .form-content input {
   padding: 12px 0px 12px 12px;;
   font-size: 12px;
   margin: 10px 0;
   outline: none;
   border: 1px solid #BFBDBD;
   border-radius: 4px;
   background-color: #FFFFFF;
 }

 button,
 #customBtn {
  background: #FD568A;
   color: #fff;
   /* width: 300px; */
   border-radius: 4px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   padding: 10px;
   white-space: nowrap;
   cursor: pointer;
 }

 #customBtn,
 #customBtn2 {
   margin: 9pt 0;
   padding: 9pt;
 }

 #SubmitBTN {
   margin: 16pt 0 5pt 0;
   padding: 10pt;
   font-weight: lighter;
 }


 #customBtn:hover {
   cursor: pointer;
 }

 i{
   margin-right: 10px;
   width: 9.34px;
   height: 18px;
 }

 span.buttonText {
   display: inline-block;
   vertical-align: middle;
   font-size: 14px;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
 }

 h4 {
   position: relative;
   text-align: center;
   color: black;
   margin: 0 auto;
   padding: 5pt 0 10pt 0;
   font-size: 14px;
   /* width: 300px; */
 }

 h4:before,
 h4:after {
   background-color: #C6C1C1;
   content: " ";
   display: block;
   height: 3px;
   position: absolute;
   width: 43%;
 }

 h4::before {
   left: 0;
   top: 40%;

 }

 h4:after {
   right: 0;
   top: 40%;
 }

 small {
   text-align: center;
   display: block;
   font-size: 8.5pt;
 }

 small>a {
   color: #FD568A;
 }