.documentation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.documentation-documentationpage {
  width: 100%;
  height: 1995px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(231, 238, 252, 1);
}
.documentation-group192 {
  top: 199px;
  left: 120px;
  width: 1200px;
  height: 128px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text {
  top: 61px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.documentation-text015 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.documentation-group196 {
  top: 337px;
  left: 120px;
  width: 1200px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text022 {
  top: 101px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.documentation-group195 {
  top: 0px;
  left: 153px;
  width: 1047px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(253, 252, 255, 1);
}
.documentation-text024 {
  top: 72px;
  left: 12px;
  color: var(--dl-color-black-6);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.documentation-group197 {
  top: 577px;
  left: 120px;
  width: 1200px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text026 {
  top: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.documentation-group194 {
  top: 0px;
  left: 153px;
  width: 1047px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(253, 252, 255, 1);
}
.documentation-text031 {
  top: 34px;
  left: 12px;
  color: var(--dl-color-black-6);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.documentation-text042 {
  top: 1022px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.documentation-group193 {
  top: 817px;
  left: 273px;
  width: 1047px;
  height: 458px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-rectangle931 {
  top: 0px;
  left: 0px;
  width: 1047px;
  height: 455px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.documentation-registerasauserusingthesignupbuttonunregistereduse {
  top: 12.133333206176758px;
  left: 12px;
  width: 831px;
  height: 97.06666564941406px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.documentation-text047 {
  top: 84.86669921875px;
  left: 5px;
  color: rgba(62, 58, 58, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.documentation-text048 {
  color: var(--dl-color-black-6);
}
.documentation-text049 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text050 {
  color: var(--dl-color-black-6);
}
.documentation-text051 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text052 {
  color: var(--dl-color-black-6);
}
.documentation-text053 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text054 {
  color: var(--dl-color-black-6);
}
.documentation-text060 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text061 {
  color: var(--dl-color-black-6);
}
.documentation-text067 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text071 {
  color: var(--dl-color-black-6);
}
.documentation-text075 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text076 {
  color: var(--dl-color-black-6);
}
.documentation-text077 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text078 {
  color: var(--dl-color-black-6);
}
.documentation-text079 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text080 {
  color: var(--dl-color-black-6);
}
.documentation-text081 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text082 {
  color: var(--dl-color-black-6);
}
.documentation-text088 {
  color: rgba(210, 71, 115, 1);
}
.documentation-text090 {
  top: 434px;
  left: 185px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.documentation-group200 {
  top: 1297px;
  left: 120px;
  width: 1200px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text091 {
  top: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.documentation-group1931 {
  top: 0px;
  left: 153px;
  width: 1047px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(253, 252, 255, 1);
}
.documentation-text096 {
  top: 36px;
  left: 11px;
  color: var(--dl-color-black-6);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.documentation-footer {
  top: 1573px;
  left: 0px;
  width: 1436px;
  height: 422px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(60, 68, 82, 1);
}
.documentation-group190 {
  top: 111px;
  left: 216.09933471679688px;
  width: 125.80833435058594px;
  height: 178px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text111 {
  top: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text113 {
  top: 106px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text115 {
  top: 154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text117 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.documentation-group187 {
  top: 80px;
  left: 1105px;
  width: 142px;
  height: 256px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text119 {
  top: 89px;
  left: 38px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text121 {
  top: 135px;
  left: 38.41925048828125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text123 {
  top: 185px;
  left: 38.41943359375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text125 {
  top: 232px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.documentation-text127 {
  top: 31px;
  left: 5.95556640625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.documentation-bxlfacebook {
  top: 129px;
  left: 0px;
  width: 24px;
  height: 24px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.documentation-akariconstwitterfill {
  top: 89px;
  left: 6px;
  width: 18px;
  height: 18px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.documentation-akariconsslackfill {
  top: 0px;
  left: 118px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.documentation-akariconsgithubfill {
  top: 185px;
  left: 0px;
  width: 18px;
  height: 18px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.documentation-group188 {
  top: 111px;
  left: 760.9508056640625px;
  width: 233.35415649414062px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text129 {
  top: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text131 {
  top: 106px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text133 {
  top: 154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text135 {
  top: 201px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text137 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.documentation-group189 {
  top: 110px;
  left: 487.01324462890625px;
  width: 143.05624389648438px;
  height: 178px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-text139 {
  top: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text141 {
  top: 106px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text143 {
  top: 154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.documentation-text145 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.documentation-vector {
  top: 1905.7108154296875px;
  left: 1106px;
  width: 18px;
  height: 16px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.documentation-header {
  top: -9px;
  left: 0px;
  width: 1440px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.documentation-rectangle765 {
  top: 9px;
  left: 0px;
  width: 1440px;
  height: 72px;
  margin: 0 0 0 0;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.5px;
}
.documentation-frame199 {
  top: 30px;
  left: 578.0003662109375px;
  width: 426.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.documentation-frame196 {
  margin: 0 40 0 0;
  display: flex;
  padding: 4px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.documentation-text147 {
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.documentation-frame197 {
  margin: 0 40 0 0;
  display: flex;
  padding: 4px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.documentation-text149 {
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.documentation-frame198 {
  display: flex;
  padding: 4px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.documentation-text151 {
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.documentation-project-team66favicon-generatorremovebgpreview {
  top: 0px;
  left: 99px;
  width: 236px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.documentation-frame301 {
  top: 17px;
  left: 1236px;
  width: 84px;
  display: flex;
  padding: 10px 12px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(158, 156, 156, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
}
.documentation-text153 {
  color: var(--dl-color-black-3);
  height: auto;
  margin: 0 0 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 114.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
