*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "poppins", sans-serif;
    background-color: lightgrey; 
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */ 
}
.main{
    background-color: lightgrey;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 55px;
   
}
.wrap{
    background-color: #fff;
    width: 40%;
    margin: auto;
    margin-bottom: 250px;
    margin-top: 90px;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 35px;
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;  
}
input{
    width: 55%;
    padding: 15px 10px;
}
button{
    width: 60%;
    padding: 15px 2px;
    font-weight: 600;
    font-size: 17px;
    border: none;
}

p{
    /* width: 90%;
    font-size: 17px;
    text-align: center; */
    width: 100%;
    margin-bottom: 40px;
    font-size: 17px;
}
h1{
    /* letter-spacing: 1px; */
    font-size: 40px;
    margin-bottom: 10px;
}
.signup{
    font-size: 15px;
    margin-top: 18px;
}
a{
    color: black;
}
.fa-arrow-left{
    margin-right: 8px;
}
.back-nav{
   font-size: 15px;
   /* margin-top: 18px;
   margin-left: 25px; */
   /* padding: 45px; */
}
@media screen and (max-width:768px){
    body{
        height: 100vh;
    }
    .main{
        display: block;
        padding: 0px;
    }
    .wrap{
        width: 87.5%;
        height: 100vh;
        margin-top: 90px;
        margin-right: 25px;
        padding: 20px;

        border-radius: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .back-nav{
        display: none;
       
    }
    h1{
        font-size: 25px;
        text-align: start;
        margin-left: 5px;
        font-weight: 700;
    }
    p{
        text-align: start;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        margin-left: 5px;
    }
    input{
        width: 90%;
        padding: 12px 10px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
    }
    button{
        width: 97%;
        padding: 15px 2px;
        font-weight: 600;
        font-size: 17px;
        border: 1px solid black;
        border-radius: 3px;
    }
}
