*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: 'poppins', sans-serif;
}

.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 25px;
}
h1{
    font-size: 35px;
    margin-top: 25px;
    font-weight: 900;
}
h3 {
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
h3:before,
h3:after {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 186px;
}
h3:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h3:after {
    left: 0.5em;
    margin-right: -50%;
  }

.Social-media{
    text-decoration: none;
    text-transform: capitalize;
    background-color: lightgrey;
    border: 1px solid;
    border-radius: 3px;
    color: black;
    padding: 15px 19px ;
    width: 60%;
    text-align: center;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-weight: 500;
}
input{
    padding: 12px 220px 12px 5px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
}
.btn{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.create{
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
}
.sign{
    color: black;
    text-decoration: underline;
    cursor: pointer;

}
.no_account{
   margin-bottom: 40px; 
}
.cpassword{
    font-weight: 600;
}
.fa-brands{
    font-size: 18px;
    color: black;
    margin-right: 7px;
}
.Fpassword{
    text-decoration: none;
    text-align: end;
    color: black;
}
button{
    border: none;
    font-size: 18px;
    padding: 12px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
    cursor: pointer;
}
@media screen and (max-width:768px){
 .Wrapper{
     display: block ;
     width: 100%;
     padding: 0;
     text-align: start;
     padding: 35px;
     height: auto;
     border-radius: 0;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;

 } 
 h1{

 }
 .Social-media{
     width: 100%;
     display: flex;
     margin: 5px;
     font-weight: 600;
     font-size: 17px;
 }
 .create{
     font-size: 14px ;
 }
 .no_account{
     font-size: 14px;
 }
 .Fpassword{
     text-decoration: underline;
     font-size: 14px;
 }
 input{
    /* padding: 12px 220px 12px 5px; */
    width: 100%;
    color: lightgrey;
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px 5px ;
    font-size: 15px;
    font-weight: 600;
    
}  
label{
    margin-bottom: 5px;
    font-size: 15px;
}
}
