.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-frame-unauthenticated-user-home-page {
  width: 100%;
  height: 3938px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.home-rectangle770 {
  top: 72px;
  left: 0px;
  width: 1440px;
  height: 649px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.home-text {
  top: 152px;
  left: 120px;
  color: rgba(253, 114, 157, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text01 {
  color: var(--dl-color-primary-5);
}
.home-text02 {
  color: var(--dl-color-black-6);
}
.home-text03 {
  color: rgba(255, 255, 255, 1);
}
.home-text04 {
  color: var(--dl-color-primary-5);
}
.home-text06 {
  top: 399px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle768 {
  top: 213px;
  left: 814px;
  width: 501px;
  height: 291px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 8px;
}
.home-text08 {
  top: 782px;
  left: 563px;
  color: var(--dl-color-secondary-10);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text10 {
  top: 3225px;
  left: 581px;
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-group233 {
  top: 915px;
  left: 120px;
  width: 1199px;
  height: 236px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group232 {
  top: 3px;
  left: 0px;
  width: 516px;
  height: 230px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text12 {
  color: var(--dl-color-black-9);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.home-text17 {
  top: 110px;
  left: 2px;
  color: var(--dl-color-primary-5);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle772 {
  top: 0px;
  left: 649px;
  width: 550px;
  height: 236px;
  margin: 0 0 0 0;
  position: absolute;
  box-shadow: 9px 16px 30px -2px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 8px;
}
.home-group231 {
  top: 1251px;
  left: 120px;
  width: 1143px;
  height: 236px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group229 {
  top: 43px;
  left: 649px;
  width: 494px;
  height: 151px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text19 {
  color: var(--dl-color-black-9);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.home-text21 {
  top: 62px;
  color: var(--dl-color-primary-5);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle773 {
  top: 0px;
  left: 0px;
  width: 550px;
  height: 236px;
  margin: 0 0 0 0;
  position: absolute;
  box-shadow: 9px 16px 30px -2px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 8px;
}
.home-group230 {
  top: 1587px;
  left: 120px;
  width: 1199px;
  height: 245px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group227 {
  top: 0px;
  left: 0px;
  width: 484px;
  height: 245px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text23 {
  color: var(--dl-color-black-9);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.home-text25 {
  top: 62px;
  color: var(--dl-color-primary-5);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle774 {
  top: 5px;
  left: 649px;
  width: 550px;
  height: 236px;
  margin: 0 0 0 0;
  position: absolute;
  box-shadow: 9px 16px 30px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 8px;
}
.home-rectangle778 {
  top: 1912px;
  left: 0px;
  width: 1440px;
  height: 1232px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.home-text27 {
  top: 2013px;
  left: 530px;
  color: var(--dl-color-secondary-10);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame210 {
  top: 2127px;
  left: 273px;
  width: 390px;
  height: 404px;
  display: flex;
  padding: 32px 48px;
  position: absolute;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-ellipse7 {
  width: 154px;
  height: 154px;
  margin: 0 0 28 0;
  position: relative;
  box-sizing: border-box;
}
.home-text29 {
  color: var(--dl-color-black-7);
  width: 294px;
  height: auto;
  margin: 0 0 28 0;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-text31 {
  color: var(--dl-color-black-4);
  width: 294px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.home-frame212 {
  top: 2611px;
  left: 273px;
  width: 390px;
  height: 404px;
  display: flex;
  padding: 32px 48px;
  position: absolute;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-ellipse71 {
  width: 154px;
  height: 154px;
  margin: 0 0 28 0;
  position: relative;
  box-sizing: border-box;
}
.home-text33 {
  color: var(--dl-color-black-7);
  width: 294px;
  height: auto;
  margin: 0 0 28 0;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-text35 {
  color: var(--dl-color-black-4);
  width: 294px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.home-footer {
  top: 3635.259521484375px;
  left: 1219px;
  width: 24px;
  height: 35.49056625366211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-akariconsslackfill {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 35.49056625366211px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-frame211 {
  top: 2127px;
  left: 777px;
  width: 390px;
  height: 404px;
  display: flex;
  padding: 32px 48px;
  position: absolute;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-ellipse72 {
  width: 154px;
  height: 154px;
  margin: 0 0 28 0;
  position: relative;
  box-sizing: border-box;
}
.home-text37 {
  color: var(--dl-color-black-7);
  width: 294px;
  height: auto;
  margin: 0 0 28 0;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-text39 {
  color: var(--dl-color-black-4);
  width: 294px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.home-frame213 {
  top: 2611px;
  left: 777px;
  width: 390px;
  height: 404px;
  display: flex;
  padding: 32px 48px;
  position: absolute;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-ellipse73 {
  width: 154px;
  height: 154px;
  margin: 0 0 28 0;
  position: relative;
  box-sizing: border-box;
}
.home-text41 {
  color: var(--dl-color-black-7);
  width: 294px;
  height: auto;
  margin: 0 0 28 0;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-text43 {
  color: var(--dl-color-black-4);
  width: 294px;
  height: auto;
  margin: 0 0 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer1 {
  top: 3514px;
  left: 0px;
  width: 1440px;
  height: 424px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(60, 68, 82, 1);
}
.home-group190 {
  top: 113px;
  left: 211.99777221679688px;
  width: 110px;
  height: 178px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text45 {
  top: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text47 {
  top: 106px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text49 {
  top: 154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text51 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-akariconsslackfill1 {
  top: 82px;
  left: 1219px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-group188 {
  top: 112px;
  left: 756.9976806640625px;
  width: 205px;
  height: 217px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text53 {
  top: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text55 {
  top: 106px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text57 {
  top: 154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text59 {
  top: 193px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text61 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-group189 {
  top: 112px;
  left: 482.99761962890625px;
  width: 126px;
  height: 178px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-text63 {
  top: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text65 {
  top: 106px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text67 {
  top: 154px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text69 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-frame237 {
  top: 113px;
  left: 1105px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.home-text71 {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  margin: 0 0 24 0;
  align-self: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.home-frame236 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.home-frame232 {
  margin: 0 0 24 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-akariconstwitterfill {
  width: 20px;
  height: 20px;
  margin: 0 16 0 0;
  position: relative;
  box-sizing: border-box;
}
.home-text73 {
  color: rgba(255, 255, 255, 1);
  width: 61px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.home-frame233 {
  margin: 0 0 24 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-bxlfacebook {
  width: 20px;
  height: 20px;
  margin: 0 16 0 0;
  position: relative;
  box-sizing: border-box;
}
.home-text75 {
  color: rgba(255, 255, 255, 1);
  width: 89px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.home-frame234 {
  margin: 0 0 24 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-akariconsgithubfill {
  width: 20px;
  height: 20px;
  margin: 0 20 0 0;
  position: relative;
  box-sizing: border-box;
}
.home-text77 {
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: center;
  line-height: 24px;
}
.home-frame235 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-akariconsslackfill2 {
  width: 20px;
  height: 20px;
  margin: 0 16 0 0;
  position: relative;
  box-sizing: border-box;
}
.home-text79 {
  color: rgba(255, 255, 255, 1);
  width: 48px;
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.home-text81 {
  top: 3310px;
  left: 325px;
  color: var(--dl-color-black-6);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-group184 {
  top: 3382px;
  left: 616px;
  width: 172px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-frame202 {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 12px 24px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-black-6);
}
.home-text83 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-header {
  top: 0px;
  left: 16px;
  width: 1424px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.home-frame199 {
  top: 21px;
  left: 571.5777587890625px;
  width: 421.7611083984375px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.home-frame196 {
  margin: 0 40 0 0;
  display: flex;
  padding: 4px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.home-text85 {
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.home-frame197 {
  margin: 0 40 0 0;
  display: flex;
  padding: 4px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.home-text87 {
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.home-frame198 {
  display: flex;
  padding: 4px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
}
.home-text89 {
  color: var(--dl-color-black-11);
  height: auto;
  margin: 0 0 0 0;
  align-self: auto;
  text-align: left;
  line-height: 22px;
}
.home-frame180 {
  top: 17px;
  left: 1221.27783203125px;
  width: 78.12222290039062px;
  display: flex;
  padding: 10px 12px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-black-6);
}
.home-text91 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 114.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame214 {
  top: 17px;
  left: 1090.744384765625px;
  width: 84.05555725097656px;
  display: flex;
  padding: 10px 12px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(158, 156, 156, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
}
.home-text93 {
  color: var(--dl-color-black-3);
  height: auto;
  margin: 0 0 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 114.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
.home-project-team66favicon-generatorremovebgpreview {
  top: -9px;
  left: 86px;
  width: 236px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
